/* Fonts */
@font-face {
  font-family: "taken";
  src: url("../fonts/taken.otf")
}

@font-face {
  font-family: "raleway-regular";
  src: url("../fonts/raleway-regular.ttf");
}

@font-face {
  font-family: "raleway-bold";
  src: url("../fonts/raleway-bold.ttf");
}

@font-face {
  font-family: "raleway-light";
  src: url("../fonts/raleway-light.ttf");
}

/* Global */

html {
  font-size: 18px;
  line-height: 1.4;
  color: #9C9B9B;
  box-sizing: border-box;
}

p {
  font-family: raleway-light;
  font-size: 1rem;
}

h1 {
  font-family: raleway-bold;
  font-size: 1.333rem;
  letter-spacing: 2.48px;
}

h2 {
  font-family: raleway-bold;
  color: black;
  text-transform: capitalize;
}

/* Nav */

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  left: 27%;
  top: 16rem;
}

.logo {
  font-family: taken;
  font-size: 3.33rem;
  letter-spacing: 6.21px;
  text-decoration: none;
  color: black;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item {
  font-family: raleway-light;
  text-decoration: none;
  color: #9C9B9B;
  letter-spacing: 1.3px;
}

.nav-link {
  font-family: raleway-light;
  text-decoration: none;
  color: #9C9B9B;
  letter-spacing: 1.3px;
}

.nav-link:hover {
  font-family: raleway-bold;
  color: black;
}

.nav-item:hover {
  font-family: raleway-bold;
  color: black;
}

.selected {
  font-family: raleway-bold;
  color: black;
}

.copyright {
  font-family: raleway-light;
  font-size: .7rem;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 1160px) {
  header {
    top: 0;
    left: 0;
    height: 115px;
    width: 100%;
    background-color: white;
    z-index: 999;
  }

  .logo {
    font-family: taken;
    font-size: 3.33rem;
    letter-spacing: 6.21px;
    text-decoration: none;
    color: black;
    position: fixed;
    left: 98px;
    top: 8px;
  }


  /* Hamburger Icon */

  .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 40px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
  }

  .change .line-top {
    transform: rotateZ(-45deg) translate(-8px, 6px);
    background-color: #E1FC7D
  }

  .change .line-middle {
    opacity: 0;
  }

  .change .line-bottom {
    transform: rotateZ(45deg) translate(-8px, -6px);
    background-color: #E1FC7D;
  }

  /* Navbar */

  .navbar {
    width: 250px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: right 1s cubic-bezier(1, 0, 0, 1);
    z-index: 9999;
  }

  .change {
    right: 0;
  }

  .nav-list {
    text-align: right;
  }

  .nav-item {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
  }

  .nav-link {
    font-family: raleway-light;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1.3px;
  }

  .selected {
    font-family: raleway-bold;
    color: #E1FC7D;
  }

  .nav-link:hover {
    font-family: raleway-bold;
  }

  .copyright {
    font-family: raleway-light;
    font-size: .7rem;
    margin-right: 50px;
  }
}


/* Images Scroll */

.scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 45%;
  width: 550px;
}

@media only screen and (max-width: 1160px) {
  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: auto;
    width: auto;
    top: 130px;
    z-index: -10;
  }
}

@media only screen and (max-width: 720px) {
  .scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: auto;
    width: auto;
    top: 130px;
    z-index: -10;
  }
}

main img {
  height: auto;
  width: 100%;
  margin: 1.5rem 0;
  box-shadow: 5px 5px 20px #7C7C7C;
  transition: all .2s ease-in-out;
}

main img:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1160px) {
  main img {
    width: 550px;
    margin: .75rem auto;
  }
}

@media only screen and (max-width: 720px) {
  main img {
    margin: .75rem 0;
    width: 100%;
  }
}
