@font-face {
  font-family: "taken";
  src: url("../fonts/taken.otf")
}

@font-face {
  font-family: "raleway-regular";
  src: url("../fonts/raleway-regular.ttf");
}

@font-face {
  font-family: "raleway-bold";
  src: url("../fonts/raleway-bold.ttf");
}

@font-face {
  font-family: "raleway-light";
  src: url("../fonts/raleway-light.ttf");
}

/* Global */

html {
  font-size: 18px;
  line-height: 1.4;
  color: black;
  box-sizing: border-box;
  height: 100%;
}

/* Success Message */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  top: 8rem;
  width: 40%;
}

@media only screen and (max-width: 1146px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

h1 {
  font-family: taken;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

p {
  font-family: raleway-light;
}

a {
  width: 80%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 2px;
  font-family: raleway-bold;
  font-size: 13px;
  letter-spacing: 1.35px;
  cursor: pointer;
  text-decoration: none;
  border: solid 1px black;
}

a:hover {
  width: 80%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 2px;
  font-family: raleway-bold;
  font-size: 13px;
  letter-spacing: 1.35px;
  cursor: pointer;
  text-decoration: none;
  border: solid 1px black;
}

@media only screen and (max-width: 1146px) {
  a {
    width: 150px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 2px;
    font-family: raleway-bold;
    font-size: 13px;
    letter-spacing: 1.35px;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px black;
  }

  a:hover {
    width: 150px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 2px;
    font-family: raleway-bold;
    font-size: 13px;
    letter-spacing: 1.35px;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px black;
  }
}
